* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}

#preloader {
    position: fixed;
}
#preloader {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    z-index: 99999999999!important;
}html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background: #f8f8f8;
    font-size: .875rem;
    line-height: 1.6;
    font-family: Poppins, Helvetica, sans-serif;
    color: #555;
}
h1, h3, h4, h5, h6 {
    color: #333;
}
p {
    margin-bottom: 30px;
}
strong {
    font-weight: 600;
}
label {
    font-weight: 500;
    margin-bottom: 3px;
}
ul {
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
}
.btn_1, a, a.btn_1 {
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
}
.btn_1, a.btn_1 {
    background: #fc5b62;
    outline: 0;
    text-decoration: none;
}
.filter_type ul li, footer ul li {
    margin-bottom: 5px;
}


.btn_1, a.btn_1 {
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    transition: .3s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.btn_1:hover, a.btn_1:hover {
    background: #0054a6;
    color: #fff;
}
.btn_1.rounded, a.btn_1.rounded {
    -webkit-border-radius: 25px!important;
    -moz-border-radius: 25px!important;
    -ms-border-radius: 25px!important;
    border-radius: 25px!important;
}

.filters_listing ul li:first-child {
    float: left;
}

main {
    background-color: #f8f8f8;
    position: relative;
    z-index: 1;
}

.box_grid ul li {
    display: inline-block;
    margin-right: 15px;
}
.container_check input:checked~.checkmark:after {
    display: block;
}
.box_grid ul {
    border-top: 1px solid #ededed;
}
.filters_listing ul {
    margin: 0 15px;
}
.box_grid figure a img {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}
.box_grid figure a:hover img {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.box_grid figure a img {
    width: 100%;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
}
.box_grid figure small {
    padding: 7px 10px 4px;
    text-transform: uppercase;
}
.box_grid a.wish_bt, .box_grid figure small {
    background-color: rgba(0, 0, 0, .6);
}
.box_grid .price strong {
    color: #32a067;
}
.box_grid {
    background-color: #fff;
    position: relative;
}
.box_grid a.wish_bt {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
}
.score strong {
    background-color: #0054a6;
    color: #fff;
    display: inline-block;
}
.filters_listing {
    padding: 10px 0 5px;
    background: #fff;
    border-bottom: 1px solid #ededed;
    z-index: 999999!important;
    position: relative;
}
.score span {
    margin-right: 8px;
}
.score strong {
    line-height: 1;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    -ms-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
    padding: 10px;
}
.score span {
    display: inline-block;
    position: relative;
    top: 7px;
    font-size: .75rem;
    text-align: right;
    line-height: 1.1;
    font-weight: 500;
}
.score span em {
    display: block;
    font-weight: 400;
    font-size: .6875rem;
}
.box_grid {
    display: block;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
}
.box_grid .price {
    display: inline-block;
    font-weight: 500;
    color: #999;
}
.box_grid a.wish_bt {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
    padding: 9px 10px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    border-radius: 3px;
}
.box_grid a.wish_bt:after {
    font-family: ElegantIcons;
    content: "\e030";
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}
.box_grid a.wish_bt:hover:after {
    content: "\e089";
    color: #fff;
}
.box_grid figure {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    height: 210px;
}
.box_grid figure small {
    position: absolute;
    left: 20px;
    top: 22px;
    color: #ccc;
    font-weight: 600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    line-height: 1;
}
.box_grid figure .read_more {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: .6s;
    transition: .6s;
    z-index: 2;
}
.box_grid figure .read_more span {
    background-color: rgba(255, 255, 255, .8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    color: #222;
    font-size: .75rem;
    padding: 5px 10px;
}
.box_grid figure:hover .read_more {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.box_grid figure a img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    backface-visibility: hidden;
    transition: .3s ease-in-out;
}
.box_grid .wrapper {
    padding: 25px;
}
.box_grid .wrapper h3 {
    font-size: 1.25rem;
    margin-top: 0;
}
.box_grid ul {
    padding: 20px 15px;
}
.box_grid ul li .score {
    margin-top: -10px;
}
.box_grid ul li:last-child {
    margin-right: 0;
    float: right;
}
@media (max-width:991px) {
.filters_listing ul {
    margin: 0;
}
}
.switch-field {
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .08);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.switch-field input {
    position: absolute!important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
.switch-field input:checked+label {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: rgba(0, 0, 0, .9);
}
.switch-field label {
    float: left;
    display: inline-block;
    min-width: 70px;
    color: rgba(0, 0, 0, .5);
    font-weight: 600;
    font-size: .75rem;
    text-align: center;
    text-shadow: none;
    padding: 10px 12px 8px;
    line-height: 1;
    border-right: 1px solid rgba(0, 0, 0, .08);
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    margin: 0;
}
.switch-field label:first-of-type {
    border-left: 0;
}
.switch-field label:last-of-type {
    border-right: 0;
}
.switch-field label:hover {
    cursor: pointer;
    color: #fc5b62;
}
#filters_col {
    background-color: #fff;
    padding: 20px 20px 15px;
    margin-bottom: 25px;
    border: 1px solid #ededed;
}
#filters_col label {
    color: #333;
    font-weight: 400;
    font-size: .8125rem;
}
a#filters_col_bt {
    display: block;
    color: #333;
    position: relative;
    font-size: 1rem;
    font-weight: 600;
}
a#filters_col_bt:before {
    font-family: ElegantIcons;
    content: "+";
    font-size: 1.625rem;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1;
    font-weight: 400;
}
.filter_type h6 {
    border-top: 1px solid #ededed;
    margin: 15px 0;
    padding: 15px 0 0;
    font-size: .8125rem;
}
.filter_type ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
}
.filter_type ul li:last-child {
    margin-bottom: 0;
}
.container_check .checkmark {
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
}
.container_check {
    display: block;
    position: relative;
    padding-left: 30px;
    line-height: 1.8;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.container_check input:checked~.checkmark {
    background-color: #0054a6;
    border: 1px solid transparent;
}
.container_check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #d2d8dd;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    transition: .3s ease-in-out;
}
.container_check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.map {
    width: 100%;
    height: 500px;
}
.nice-select .list:hover .option:not(:hover) {
    background-color: transparent!important;
}
.add_top_30 {
    margin-top: 30px;
}
.margin_60_35 {
    padding-top: 60px;
    padding-bottom: 35px;
}@media (max-width:575px) {
.switch-field label {
    min-width: inherit;
}
.margin_60_35 {
    padding-top: 30px;
    padding-bottom: 5px;
}
}